/* CSS for portfolio */

/* Add media quieries */

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

#container {
  border: 2px dotted red;
  height: 100%;
}

.navbar {
  height: 3em;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #FFF;
  box-shadow: 0px 2px 5px #DBDBDB;
}

.navbuttons {
  text-align: right;
  padding-right: 2em;
  height: 100%;
}

button {
  height: 100%;
  background-color: #FFF;
  border: none;
}

button:hover {
  background-color: #DBDBDB;
}

button a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

#intro {
  border: 2px dotted green;
  height: 100vh;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  display: flex;
  flex-direction: row;
  width: 25vw;
}

#intro h1 {
  border: 2px solid #000;
  padding: 25px 30px;
}

#intro h3 {
  width: 100%;
}

#name {
  border-right: 2px solid #000;
}

#aboutme {
  padding-top: 3em;
  border: 2px dotted green;
  height: 100%;
}

#techskills {
  border: 2px dotted green;
  height: 100%;
}

#projectlist {
  padding-top: 3em;
  border: 2px dotted green;
  height: 100%;
}

#contactme {
  border: 2px dotted green;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactmedia {
  display: flex;
  flex-direction: row;
}

#propic {
  width: 300px;
}

footer {
	height: 5em;
  width: 100%;
  position: absolute;
  padding: 25px 0px;
	background-color: #141414;
}

footer i {
  border: 2px red dotted;
  width: 2em;
  text-align: center;
  color: #555;
}

footer i:hover {
  color: #C3C3C3;
}

#email {
  color: #555;
}
