/* CSS for portfolio */

/* Add media quieries */

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

#container {
  border: 2px dotted red;
  height: 100%;
}

/*Navigation Bar*/
.navbar {
  height: 3em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #FFF;
  box-shadow: 0px 2px 5px #DBDBDB;
  z-index: 1;
}

.navbar p {
  padding-left: 2em;
}

.navbuttons {
  text-align: right;
  padding-right: 2em;
  height: 100%;
}

button {
  height: 100%;
  background-color: #FFF;
  border: none;
  display: inline-block;
  position: relative;
}

button:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color 0.5s ease;
}

button:hover:after {
  width: 100%;
  background-color: #141414;
}

button:hover {
  background-color: #DBDBDB;
}

button a {
  text-decoration: none;
  font-size: 2em;
  color: #000;
}

/*Home Tab*/
#intro {
  border: 2px dotted green;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.introbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titlebox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2em;
  padding: 10px;
  margin-top: -4em;
}

#vertline {
  width: 2px;
  height: 100%;
  margin: 0px 10px;
  background: #000;
}

#hello {
  padding: 25px 30px;
  font-size: 100px;
  border: 2px solid #000;
}

/*About Tab*/
#propic {
  width: 300px;
}

#aboutme {
  padding-top: 4em;
  border: 2px dotted green;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

#aboutme p {
  max-width: 800px;
  padding: 0px 50px;
}

/*Toolkit*/
#techskills {
  border: 2px dotted green;
  padding-bottom: 2em;
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#techskills ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

#techskills li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#techskills span {
  padding-top: 10px;
}

/*Project Portfolio*/
#projectlist {
  padding-top: 4em;
  border: 2px dotted green;
  height: 100vh;
  position: relative;
}

#projectlist ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#projectlist li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  box-shadow: 3px 3px 5px #DBDBDB;
}

#projectlist span {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease;
  position: absolute;
  width: 350px;
  height: 200px;
}

#projectlist li:hover span{
  visibility: visible;
  opacity: 1;
  background: rgba(120, 120, 120, 0.8);
  color: #FFF;
  width: 350px;
  height: 200px;
}

#projectlist a {
  font-size: 2em;
  color: #000;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.projectpics {
  width: 350px;
  height: 200px;
}

/*Contact Section*/
#contactme {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

#email {
  margin: 10px;
  border: 2px solid red;
}

/*Footer Section*/
#socmedia {
  border: 2px dotted green;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactmedia {
  display: flex;
  flex-direction: row;
}

footer {
	height: 5em;
  width: 100%;
  position: absolute;
  padding: 25px 0px;
	background-color: #141414;
}

footer i {
  border: 2px red dotted;
  width: 2em;
  padding: 0px 20px;
  text-align: center;
  color: #555;
}

footer i:hover {
  color: #C3C3C3;
}

#footbottom {
  color: #555;
}
