/* CSS for portfolio */

/* Add media quieries */

html, body {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
}

body::-webkit-scrollbar {
  width: .5em;
}

body::-webkit-scrollbar-thumb {
  background-color: #F2F2F2;
}

body::-webkit-scrollbar-track {
  background-color: #555;
}

#container {
  height: 100%;
}

/*Flex*/
.flexrow{
  display: flex;
  flex-direction: row;
}

.flexcol, #techskills li, #projectlist li, #projectlist a {
  display: flex;
  flex-direction: column;
}

/*Navigation Bar*/
.navbar {
  height: 3em;
  width: 100%;
  overflow-x: hidden;
  max-width: 100%;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #DBDBDB;
  box-shadow: 0px 2px 5px #868686;
  z-index: 1;
}

.navbar p {
  padding-left: 2em;
  color: #2F4763;
}

.navbuttons {
  text-align: right;
  padding-right: 2em;
  height: 100%;
}

button {
  height: 100%;
  background-color: #DBDBDB;
  border: none;
  display: inline-block;
  position: relative;
}

button:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color 0.5s ease;
}

button:hover:after {
  width: 100%;
  background-color: #2F4763;
}

button:hover {
  background-color: #FFB741;
  cursor: pointer;
  color: #FFF;
}

a button {
  text-decoration: none;
  font-size: 1em;
  color: #2F4763;
}

/*Home Tab*/
#intro {
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #2F4763;
  color: #FFF;
}

.introbox {
  align-items: center;
}

.titlebox {
  justify-content: center;
  align-items: center;
  height: 2em;
  padding: 10px;
  margin-top: -4em;
}

#vertline {
  width: 2px;
  height: 100%;
  margin: 0px 10px;
  background: #FFF;
}

#hello {
  padding: 25px 30px;
  font-size: 6em;
  border: 2px solid #FFB741;
  color: #FFB741;
}

/*About Tab*/
#propic {
  width: 25em;
  box-shadow: 5px 5px 5px #B9B9B9;
}

#aboutbox {
  flex-wrap: wrap;
}

#aboutme {
  min-width: 400px;
  padding: 6em 0em;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
  background: #F2F2F2;
}

#aboutme h2 {
  color: #FFB741;
}

#aboutme p {
  max-width: 800px;
  padding: 0px 50px;
  color: #2F4763;
}

/*Technologies*/
#techskills {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background: #FFB741;
  color: #2F4763;
}

#techskills h2 {
  color: #F2F2F2;
}

#techskills ul {
  justify-content: center;
  align-items: center;
}

#techskills li {
  align-items: center;
  justify-content: center;
  margin: 10px 30px 10px 0px;
}

#techskills i {
  font-size: 3em;
}

#techskills span {
  padding-top: 10px;
  font-size: 1em;
}

/*Project Portfolio*/
#projectlist {
  padding: 4em 0em;
  position: relative;
  justify-content: center;
  align-items: center;
}

#projectlist h2 {
  color: #2F4763;
}

#projectlist ul {
  flex-wrap: wrap;
  justify-content: center;
}

#projectlist li {
  list-style-type: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px;
  box-shadow: 5px 5px 5px #B9B9B9;
  position: relative;
}

#projectlist span {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
  left: 1;
  top: 0;
  width: 350px;
  height: 200px;
}

#projectlist li:hover span{
  visibility: visible;
  opacity: 1;
  background: rgba(47, 71, 99, 0.8);
  width: 350px;
  height: 200px;
}

#projectlist a {
  font-size: 2em;
  color: #FFB741;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.projectpics {
  width: 350px;
  height: 200px;
}

/*Contact Section*/
#contactme {
  padding-top: 3em;
  height: calc(100vh - 11em);
  position: relative;
  background: #2F4763;
  color: #F2F2F2;
}

#contactinfo {
  height: 80%;
  width: 60%;
  min-width: 20em;
  margin-left: 30px;
  padding: 20px;
  justify-content: center;
}

#contactinfo h1 {
  color: #FFB741;
}

.email {
  margin: 10px;
  height: 3em;
  width: 15em;
  border: 2px solid #FFB741;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.5s ease-in;
  color: #F2F2F2;
}

.email i {
  padding: 10px;
}

.email:hover {
  border-radius: 50px;
  background: #F2F2F2;
  color: #2F4763;
  transition: all 0.5s ease-in;
  border-color: #FFB741;
}

/*Footer Section*/
#socmedia {
  height: 100%;
  align-items: center;
  justify-content: center;
}

footer {
	height: 5em;
  width: 100%;
  position: absolute;
  padding: 25px 0px;
	background-color: #141414;
}

footer i {
  width: 1em;
  padding: 0px 10px;
  text-align: center;
  color: #555;
}

footer i:hover {
  color: #F2F2F2;
}

#footbottom {
  color: #555;
}
